.odds{
    background-color: transparent;
   margin-bottom:15px;
}
.htt{
    font-size:12px;
    font-weight:bold;
}
.htts{
    font-size:11px;
    font-weight:bold;
}
.meta-t{
    color:#212121;
    font-weight:bold;
    font-size:12px;
}
.meta-tt{
    color:#000;
    font-weight:bold;
    font-size:12px;
}
.odd-selector{
    padding:10px 5px;
    background-color: #01BE6E;
    color:white;
    text-align: center;
    font-size:13px;
    transition: all ease .5s;

}
.odd-selector:hover{
    cursor: pointer;
    background-color: #101721;
}

.odd-selector-2{
    background-color: #01BE6E;
    color:white;
    transition: all ease .5s;
    font-size:13px;
}
.odd-selector-2:hover{
    cursor: pointer;
    background-color: #101721;
}
.odd-selector-wrapper{
    padding-top:15px;
}

.odd-sec{
    padding:5px 5px 15px 5px;
    background-color:#fff;
}

.betslip-wrapper{
    background-color:#fff;
}



.green-txt{
    color:#01BE6E;
}

.heading-t{
    padding:15px 15px 15px 15px;
    background-color:#101721;
}