body{
    font-family: 'Open Sans', sans-serif!important;
    background-color: #C9CBCC;
}
a:hover{
    text-decoration:none;
    color:#000;
}
.fa:hover{
    color:#01BE6E;
}

.login-section{
    background-color: white; 
    padding:15px 15px;
    display: flex;
    justify-content:space-between;

    
}
.logo-section{
    color:white;
}
.txt-section{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
}
.form-section{
    color:white;
}
.login-btn{
    background-color: #01BE6E;
    border-color:#01BE6E;
    color:#101721;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
    padding-top:7px;
    padding-bottom:7px;
}
.login-btn:hover{
    background-color: rgba(1, 190, 110, .9);
    border-color: rgba(1, 190, 110, .9);
}
.reg-btn{
    background-color: rgb(16, 23, 33);
    border-color:#101721;
    color:white;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
    padding-top:7px;
    padding-bottom:7px;
}
.reg-btn:hover{
    background-color: rgba(16, 23, 33, .9);
    border-color:rgba(16, 23, 33, .9);;
}

.navbar-default {
    background-color: #000;
    border-color: #000;
    border:0px!important;
}

@media (min-width: 768px){
    .navbar{
        border-radius:0px!important;
    }
    .hide-desktop{
        display:none;
    }
    .glyphicon{
        margin-right:10px;
    }
}
@media (max-width: 768px){
    .col-md-9{
        padding-left: 0px!important;
    }
    .navbar{
        border-radius:0px!important;
        
    }
    .form-t{
        overflow-x: scroll!important;
    }
    .glyphicon{
        margin-right:0px;
    }
    .navbar-nav{
        display:flex; 
        justify-content:space-between;
    }
    .hide-mobi, .logo-section, .form-section{
        display:none;
    }
    .odds{
        background-color: #898B8D;
       margin-right:15px;
       margin-left:15px;
    }
    .margin-mobi{
        margin-right:15px;
        margin-left:15px;
    }
    .slider-wrapper, .footer-section, .copyright-section{
        margin-right:15px;
        margin-left:15px;
    }
}


.navbar {
    padding:0px;
}

.ball .main-nav .navbar {
    padding:0px;
}

.ball .nav-link {
    display: block;
    padding: 15px 30px;
}

.main-nav .nav-link {
    display: block;
    padding: 15px 30px;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 30px;
        padding-left: 30px;
    }
}
.bg-green{
    color: #fff!important;
    background-color: #01BE6E;
}
.bg-black{
    color: #fff!important;
    background-color: #101721;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
    background-color: #01BE6E;
    color:white;
}

.navbar-light .navbar-nav .active>.nav-link a:hover {
    background-color: #01BE6E;
    color:white;
}

.ball .navbar-light .navbar-nav .active>.nav-link {
    background-color: #08754C;
    color:white;
}

.ball .navbar-light .navbar-nav .active>.nav-link a:hover {
    background-color: #08754C;
    color:white;
}
.nav-item{
    transition:all ease .3s;
}
.nav-item:hover{
    background-color: #01BE6E;
    color:white;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #01BE6E;
}

.ball .navbar-default .navbar-nav > li > a:hover {
    color: #01BE6E;
}

.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: #01BE6E;
}

.navbar-default .navbar-nav > .active > a:hover{
    color: #101721;
    background-color: #01BE6E;
}


.panel-body { 
    padding:0px;
    font-size:13px;
 }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
}
.panel-title a:hover{
    text-decoration: none;
}
.panel-title a{
    text-decoration: none;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #B21212;
    border-color: #B21212;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.darktable{
    background-color: #898B8D;
    color:#fff;
}
.white-txt{
    color:#fff;
    text-decoration: none;
}
.white-txt:hover{
    color:#fff;
    text-decoration: none;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-bottom: 1px solid black;
}


.strip{
    background-color:#01BE6E;
    margin-bottom:10px;
    display: flex;
    justify-content:left;
    align-items: left;
}
.input-f{
    display: flex;
    justify-content:left;
    align-items: left;
}
.spacer{
    height: 15px;
}
.spacer-big{
    height:30px;
}
.foot-links{
    color:#D6D6D2;
    font-size:14px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #01BE6E;
}

.dropdown-item {
    color: #fff;
    font-size:14px;
    font-weight:normal;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff!important;
    text-align: left;
    list-style: none;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 0px;
}

